body {
  height: 97vh;
  width: 99vw;
  padding-left: 0.6vw;
  background-color: rgb(145, 145, 145);
}

header {
  text-decoration: underline black;
  font-size: 36pt;
}

#meme {
  color: tomato;
  font-weight: bold;
}

#js {
  color: skyblue;
  font-style: italic;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

article {
  flex-grow: 1;
}

footer {
  text-align: center;
}

#meme-viewer {
  display: flex;
  height: 100%;
}

#meme-viewer > * {
  height: 100%;
}

#meme-viewer > *:first-child {
  flex-grow: 1;
  float: left;
}

#meme-viewer > div {
  min-width: 300px;
  overflow: scroll;
  text-align: center;
  float: right;
  padding: 10px 5px;
}
.jsCharger {
  color: green;
  text-align: center;
}

#meme-viewer .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col > div {
  width: 48%;
}

.col input, .col button {
  width: 90%;
}
