body{
    height: 97vh;
    width: 99vw;
    padding-left: 0.6vw;
    background-color: rgb(217, 219, 212);
}

header {
    text-decoration: underline black;
    font-size: 36pt;
}

#meme {
    color:tomato;
    font-weight: bold;
}

#js {
    color: skyblue;
    font-style: italic;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

article {
    flex-grow: 1;
}

footer {
    text-align: center;
}

#meme-viewer {
    display: flex;
    height: 100%;
}

#meme-viewer > * {
    height: 100%;
}

#meme-viewer > *:first-child {
    flex-grow: 1;
    float: left;
}

#meme-viewer > *:last-child {
    width: 200px;
    float: right;
}